# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android build outputs & local config (do NOT ignore android/ source folder!)
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/.cxx/
android/app/build/

# iOS/Desktop platforms not configured
ios/
linux/
macos/
windows/

# App packages
*.apk
*.aab
*.app

